@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/gotham-pro/gothampro.ttf) format('truetype');
  }
}